<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
</head>
<body>
<style>
.layui-form select{display: inline}
</style>
<div class="wx-body">
    <div class="layui-card-body">
        <form class="layui-form" action="">

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" value="{{ article.title }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-inline">
                    <select name="class_id" lay-verify="required" style="display: none">
                        <option value=""></option>
                        {% for class in class %}
                        <option value="{{ class.id }}" {{ article.class_id==class.id ? 'selected':''}}>{{ class.classname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">版权</label>
                    <div class="layui-input-inline">
                        <input type="tel" name="copyright" placeholder="请输入版权" autocomplete="off" class="layui-input" value="{{ article.copyright }}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">非必填</div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">第三方来源</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" placeholder="请输入第三方来源" autocomplete="off" class="layui-input" value="{{ article.url }}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">非必填</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">关键字</label>
                <div class="layui-input-block">
                    <input type="text" name="keyword" lay-verify="title" autocomplete="off" placeholder="请用逗号隔开" class="layui-input" value="{{ article.keyword }}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <div id="editormd">
                        <textarea name="content" style="display:none;">{{ article.content }}</textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf }}">
            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="{{ article?'edit':'add' }}" style="margin-left:10%">立即提交</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script src="/editor.md/editormd.min.js"></script>
<script type="text/javascript">
    var form = layui.form;
    $(function() {
        var editor = editormd("editormd", {
            path : "/editor.md/lib/", // Autoload modules mode, codemirror, marked... dependents libs path
            imageUpload       : true,
            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/uploadimg?type=article",
            height:'500px',
            codeFold : true,
            syncScrolling : "single",
            tocm: true,
            toolbarIcons : function() {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["undo", "redo", "|", "bold", "del","italic","quote","ucwords","uppercase","lowercase", "|",
                    "h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","hr", "|",
                    "link","reference-link","image","code","preformatted-text","code-block","table","datetime","html-entities",
                      "||", "watch", "preview", "clear","search","fullscreen"]
            },
        });
    });
    form.on('submit(add)', function(data){
        fetch('/article/addarticle',{
            body:JSON.stringify(data.field),
            method:'POST'
        }).then(function(response) {
            return response.text();
        }).then(function (response) {
            response = JSON.parse(response);
            if (response.status){
                layer.msg(response.message)
            }else{
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.msg(response.message,{icon:1})
                parent.layer.close(index);
            }
        });
        return false;
    });
    form.on('submit(edit)', function(data){
        fetch('/article/editarticleapi?id={{ article.id }}',{
            body:JSON.stringify(data.field),
            method:'POST'
        }).then(function(response) {
            return response.text();
        }).then(function (response) {
            response = JSON.parse(response);
            if (response.status){
                layer.msg(response.message)
            }else{
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.msg(response.message,{icon:1})
                parent.layer.close(index);
            }
        });
        return false;
    });
</script>
</body>
</html>
