<fieldset class="layui-elem-field wx-elem">
    <div class="layui-field-box">
    <span class="layui-breadcrumb">
      <a href="#/">首页</a>
      <a>用户</a>
      <a><cite>权限管理</cite></a>
    </span>
    </div>
</fieldset>
<div class="wx-body">
    <div class="layui-card">
        <div class="layui-card-header wx-header">
            <button class="layui-btn" id="add">添加</button>
        </div>
        <div class="layui-card-body">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>权限名称</th>
                    <th>权限路径</th>
                    <th>图标</th>
                    <th>访问权限</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for key,rangelist in rangelist %}
                <tr>
                    <td style="width: 8%;">
                        {% if(rangelist.level) %}
                        <i class="layui-icon layui-icon-right" style="cursor:pointer;" onclick="down({{ rangelist.id }},this)"></i>
                        {% endif %}
                         {{ rangelist.id }}</td>
                    <td>{{ rangelist.name }}</td>
                    <td>{{ rangelist.path }}</td>
                    <td style="width: 30px;text-align: center"><i class="{{ rangelist.icon }}"></i></td>
                    <td style="width: 80px;text-align: center">{{ rangelist.rolename }}</td>
                    <td style="width: 10%;text-align: center">
                        <form class="layui-form" action="" onclick="changestatus({{ rangelist.id }})" id="changestatus{{ rangelist.id }}">
                            <input type="checkbox" {% if(rangelist.status) %}checked=""{% endif %} name="open" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
                        </form>
                    </td>
                    <td style="width: 15%;text-align: center">
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm" onclick="edit({{ rangelist.id }})"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="del({{ rangelist.id }})"><i class="layui-icon"></i></button>
                        </div>
                    </td>
                </tr>
                    {% for level in rangelist.level if rangelist.level %}
                <tr class="level{{ rangelist.id }}" hidden>
                    <td style="width: 8%;">&emsp;&emsp;{{ level.id }}</td>
                    <td>{{ level.name }}</td>
                    <td>{{ level.path }}</td>
                    <td style="width: 30px;text-align: center"><i class="{{ level.icon }}"></i></td>
                    <td style="width: 80px;text-align: center">{{ rangelist.rolename }}</td>
                    <td style="width: 10%;text-align: center">
                        <form class="layui-form" action="" onclick="changestatus({{ level.id }})" id="changestatus{{ level.id }}">
                            <input type="checkbox" {% if(level.status) %}checked=""{% endif %} name="open" lay-skin="switch" lay-filter="switchTest" lay-text="是|否">
                        </form>
                    </td>
                    <td style="width: 15%;text-align: center">
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm" onclick="edit({{ level.id }})"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" onclick="del({{ level.id }})"><i class="layui-icon"></i></button>
                        </div>
                    </td>
                </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="./layui/layui.all.js"></script>

<script>
    var form = layui.form;
    var status = '';
    $('#add').click(function () {
        layer.open({
            title: '添加权限',
            type: 2,
            area: ['600px', '500px'],
            fixed: false, //不固定
            content: 'power/addrange',
            end:function () {
                var route = new Router();
                route.refresh();
                var menu = new Menu();
                menu.relMenu();
            }
        });
    });
    down = function (id,that) {
        if ($('.level'+id).is(':hidden')) {
            $('.level'+id).show();
            $(that).removeClass('layui-icon-right')
            $(that).addClass('layui-icon-down')
        }else {
            $('.level'+id).hide();
            $(that).addClass('layui-icon-right')
            $(that).removeClass('layui-icon-down')
        }
    }
    edit = function (id) {
        layer.open({
            title: '修改权限',
            type: 2,
            area: ['600px', '500px'],
            fixed: false, //不固定
            content: 'power/editrange?id='+id,
            end:function () {
                var route = new Router();
                route.refresh()
                var menu = new Menu();
                menu.relMenu();
            }
        });
    }
    del = function (id) {
        layer.confirm('删除操作不可逆，确定删除？', {
            title:'提示信息'
            ,btn: ['确定','取消'] //按钮
            ,icon: 2
        }, function(){
            fetch('power/delrange?id='+id,{
                method: 'GET'
            }).then(function(response) {
                return response.text();
            }).then(function(response) {
                response = JSON.parse(response)
                if(response.status == 1){
                    layer.msg(response.msg, {icon: 1});
                    var route = new Router();
                    route.refresh()
                    var menu = new Menu();
                    menu.relMenu();
                }
                return;
            });
        });
    }
    changestatus = function (id) {
        var status = $('#changestatus'+id+'>.layui-unselect>em').html() == '是'?1:0
        fetch('power/changestatus?id='+id+'&status='+status,{
            method: 'GET'
        }).then(function(response) {
            return response.text();
        }).then(function(response) {
            response = JSON.parse(response)
            if(response.status == 1){
                layer.msg(response.msg, {icon: 1});
                var route = new Router();
                route.refresh()
                var menu = new Menu();
                menu.relMenu();
            }
            return;
        });
    }
</script>
